/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import "normalize";
 @import "bootstrap";
html, body {
  font-family: 'Raleway' , sans-serif;
}

body{
  background:  #f5f5f5;
}


.header{
  background: url('c.jpg');
  height: 300px;
  width: 100%;

}
/*.foto {
  width: 170px;
  height: 170px;
  background: black;
  border-radius: 100px;
  position: absolute;
  left: 500px;
  top: 40px;

  }*/

.navbar{

  width: 100%;
  height: 50px;
  background:#2E8B57;
  position: sticky;
}
.navbar a{
  font-size: 20px;
  font-weight: bold;
  color: black;

}
.navbar  ul li {
  list-style-type:none;
}
.posts{
  padding: 30px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color:white;
  margin-bottom: 50px;
  border-style: groove;

}
.post a{
  font-size: 30px;
  color: #8b3a3a;
  font-weight: bold;
}
.yan-panel{
  float: right;
  margin-right: 20px;

  width: 250px;
  height: auto;


}
 a:link{
  text-decoration: none;

}
.sosyal-medya {
  border-style: groove;
  border-radius: 5px;
  margin-top: 50px;
}
.sosyal-medya ul li {
  margin-left: 20px;
}

.sosyal-medya h2{
  margin-left: 20px;
}

.kategori{
  border-style: groove;
  border-radius: 5px;
  margin-top:50px;

}
.kategori ul li {
  margin-left: 20px;
}

.kategori h2{
  margin-left: 20px;
}

.sag-nav ul li {
float: left;
padding-right: 10px;
list-style-type:none;
}
.baslik{
  text-align: center;
}
.post{
padding: 10px;
width: 750px;

}
.ayrinti{
  min-height: 750px;
  width: 750px;


}
#conteiner{
  width: 100%;
  height: 100%;

}
/*.silB {
  float: right;

}
.editB{
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}*/
.yorum{
  min-height: 300px;

}

.post:hover{
  border-left-color: #2E8B57;
  border-left-style:  groove;
  background-color: #f5f5f5;
 }

 .post:hover a{

   font-size:40px;

 }

.left{

  margin-left: 10px;
  float: left;
}
.right{
  margin-right: 10px;
  float: right;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
